.buttonReset, .buttonTest, .music{
    width: 100px;
    height: 40px;
    color: white;
    background: none;
    font-family: 'Press Start 2P', cursive;
}


.gameInstructions{
  margin-left: 50px;
  line-height: 50px;
  float: left;

}

.gameOptionButtons{
  text-align: center;
  margin: 10px;
}


h1{
  text-align: center;
}
h2{
  text-decoration: underline;
}

body{
  font-family: 'Press Start 2P', cursive;
  color: white;
  background-color: black;
}

.gameContainer{
  width: 450px;
  margin: 0 auto;
}

div[name="allTheBlocks"]{
  height: 30px;
  width: 30px;
  float: left;
  line-height: 50px;
  box-shadow: inset 0 -4px 2px 0.5px rgba(0,0,0,0.7),
  inset 2.5px 1px 1px rgba(255,255,255,1);
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 20px
}



footer{
  clear:both;
  text-align: center;
  padding: 15px;
  margin-bottom: 50px;

}

input, button, submit {
  font-family: 'Press Start 2P', cursive;
  border:none;
}

.red, #red::before, #red::after {
  background-color: #FF4136;
}
.orange, #orange::before, #orange::after {
  background-color: #f78909;
}
.yellow, #yellow::before, #yellow::after {
  background-color: #FFF300;
}
.green, #green::before, #green::after {
  background-color: #22B400;
}
.blue, #blue::before, #blue::after {
  background-color: #008AFF;
}
.purple, #purple::before, #purple::after {
  background-color: #FF00E6;
}
.buttonColor{
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
  height: 25px;
  width: 25px;
  margin: 20px;
  background: none;
}

.buttonColor::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  outline: 4px solid black ;
  outline-offset: -7px;
}

.buttonColor::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  outline: 4px solid black;
  outline-offset: -7px;
}
.buttonColor:hover::before{
  -webkit-transform: rotate(-225deg);
  -moz-transform: rotate(-225deg);
  -ms-transform: rotate(-225deg);
  -o-transform: rotate(-225deg);
  transform: rotate(-225deg);
  height: 25px;
  width: 60px;
  margin: 0 0 0 -14px;
  outline: 4px solid white;
}

.buttonColor:hover::after{
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
  height: 25px;
  width: 60px;
  margin: 0 0 0 -14px;
  outline: 4px solid white;
}
