main{
text-align: center;
width: 450px;
margin: 0 auto;
}

div {
  height: 30px;
  width: 30px;
  float: left;
  text-align: center;
  line-height: 50px;
}

.red{
  background-color: #FF4136;
}
.orange{
  background-color: #FF851B;
}
.yellow{
  background-color: #FFDC00;
}
.green{
  background-color: #2ECC40;
}
.blue{
  background-color: #39CCCC;
}
.purple{
  background-color: #B10DC9;
}
